:root {
  --bg-color: hsl(185, 41%, 84%);
  --dark-cyan: hsl(183, 100%, 15%);
  --input-bg: hsl(184, 14%, 56%);
  --green-font: hsl(189, 41%, 97%);
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
