:root {
  --bg-color: hsl(185, 41%, 84%);
  --dark-cyan: hsl(183, 100%, 15%);
  --input-bg: hsl(184, 14%, 56%);
  --green-font: hsl(189, 41%, 97%);
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: var(--bg-color);
}
.logo {
  text-align: center;
}
.container {
  background-color: white;
  margin: 0 auto;
  width: 500px;
  border-radius: 8px;
  padding: 10px;
  margin-top: 50px;
}

.left-container {
  width: 50%;
}

label {
  display: block;
}
#bill-amount {
  background-image: url(img/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px;
  text-align: right;
  width: 100%;
  font-size: 24px;
  border-radius: 5px;
}
::placeholder {
  text-align: right;
  color: var(--input-bg);
  font-weight: bold;
}
.buttons-container {
  width: 100%;
}
p {
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 12px;
}
label {
  font-size: 18px;
  color: hsl(186, 14%, 43%);
  font-weight: 700;
}
