:root {
  --bg-color: hsl(185, 41%, 84%);
  --dark-cyan: hsl(183, 100%, 15%);
  --input-bg: hsl(184, 14%, 56%);
  --green-font: hsl(189, 41%, 97%);
}

@media (max-width: 768px) {
  */ .container {
    flex-direction: column;
  }

  .left-container,
  .right-container {
    flex: 1 1 100%;
    margin-right: 0;
  }
}

.left-container,
.right-container {
  flex: 1 1 100%;
  padding: 10px;
}

body {
  margin: 50px auto;
  font-family: "Space Mono", monospace;
  background-color: var(--bg-color);
  user-select: none;
}
.logo {
  text-align: center;
}
.container {
  background-color: white;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.left-container {
  width: 50%;
  padding-left: 10px;
  margin-right: 50px;
}
input {
  border: none;
  background-color: #f1f9fb;
  padding: 8px;
  font-size: 24px;
  color: var(--dark-cyan);
  font-weight: 700;
}
label {
  display: block;
}
#bill-amount {
  background-image: url(img/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px;
  text-align: right;
  width: 100%;
  font-size: 24px;
  border-radius: 5px;
}

#total-people-input {
  background-image: url(img/icon-person.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px;
  text-align: right;
  width: 100%;
  font-size: 24px;
  border-radius: 5px;
}

::placeholder {
  text-align: right;
  color: var(--input-bg);
  font-weight: bold;
}
.buttons-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
button {
  background-color: var(--dark-cyan);
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: hsl(172, 67%, 45%);
  color: var(--dark-cyan);
}

.buttons-container button,
.buttons-container input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box; /* Ensure padding is included in width */
}
.buttons-container::placeholder {
  font-size: 12px;
}
p {
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 14px;
}
label {
  font-size: 18px;
  color: hsl(186, 14%, 43%);
  font-weight: 700;
}
input:focus {
  outline: 3px solid hsl(172, 67%, 45%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tip-text {
  margin-top: 20px;
  margin-bottom: 10px;
}
.right-container {
  background-color: var(--dark-cyan);
  width: 50%;
  border-radius: 8px;
  padding: 12px;
}
.tip-person {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bold {
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.light {
  color: hsl(185, 41%, 84%);
  font-size: 12px;
}
.bold-amount {
  font-size: 34px;
  margin-top: 15px;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
}
.reset {
  background-color: hsl(185, 41%, 84%);
  width: 100%;
  margin-top: 70px;
  padding: 10px;
  color: var(--dark-cyan);
  font-weight: 700;
  cursor: pointer;
}
